<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">

<!-- landing14:04-->
<head>
	<!-- Basic need -->
	<title>MovieSearch</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">
    
	<!--Google Auth-->
	<meta name="google-signin-client_id" content="176501380133-u8aujoaj2u07gl51012v70gg6gpcjibq.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href="ui/css/plugins.css">
	<link rel="stylesheet" href="ui/css/style.css">

</head>

<body>
<!--preloading-->
<div id="preloader">
    <img class="logo" src="ui/images/20220408_201628.png" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->

<!--login form popup-->
<div class="login-wrapper" id="login-content">
	<a href="#" class="close">x</a>
    <div class="login-content">
        <h3>Login</h3>
		<!--<form method="post" action="#">-->
        <form id="login-form">
        	<div class="row">
        		 <label for="username">
                    Email:
                    <!--<input type="email" name="email" id="email-1" placeholder="Type your email" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />-->
					<input type="email" name="email" id="email-1" placeholder="Type your email" pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{1,5}|[0-9]{1,3})(\]?)$" required="required" />
                </label>
        	</div>
           
            <div class="row">
            	<label for="password">
                    Password:
                    <input type="password" name="password" id="password-1" placeholder="Type your password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
            <div class="row">
            	<div class="remember">
					<div>
						<input type="checkbox" name="remember" value="Remember me"><span>Remember me</span>
					</div>
            		<a href="#">Forget password ?</a>
            	</div>
            </div>
           <div class="row">
           	 <button type="submit">Sign in</button>
           </div>
        </form>
        <div class="row">
        	<p style="text-align: center;">Or continue with</p>
            <div class="social-btn-2" style="display: flex; justify-content: center; align-items: center;">
				<div class="g-signin2" data-onsuccess="onSignIn"></div>
				<!--
            	<a class="fb" href="#"><i class="ion-social-facebook"></i>Facebook</a>
            	<a class="tw" href="#"><i class="ion-social-twitter"></i>twitter</a>
				-->
            </div>
        </div>
    </div>
</div>
<!--end of login form popup-->

<!--signup form popup-->
<div class="login-wrapper"  id="signup-content">
	<a href="#" class="close">x</a>
    <div class="login-content">
        <h3>Sign up</h3>
        <!--<form method="post" action="/register">-->
		<form id="register-form">
            <div class="row">
                 <label for="username-2">
                    Username:
                    <!--<input type="text" name="username" id="username-2" placeholder="John Doe" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />-->
					<input type="text" name="username" id="username-2" placeholder="John Doe" pattern="[a-zA-Z'-'\s]*" required="required" />
                </label>
            </div>
           
            <div class="row">
                <label for="email-2">
                    your email:
                    <!--<input type="email" name="email" id="email-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />-->
					<input type="email" name="email" id="email-2" placeholder="Email" pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{1,5}|[0-9]{1,3})(\]?)$" required="required" />
                </label>
            </div>
             <div class="row">
                <label for="password-2">
                    Password:
                    <input type="password" name="password" id="password-2" placeholder="Password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
             <div class="row">
                <label for="repassword-2">
                    re-type Password:
                    <input type="password" name="password" id="repassword-2" placeholder="Confirm Password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
           <div class="row">
             <button type="submit">sign me up</button>
           </div>
        </form>
		<div class="row">
        	<p style="text-align: center;">Or continue with</p>
            <div class="social-btn-2" style="display: flex; justify-content: center; align-items: center;">
				<div class="g-signin2" data-onsuccess="onSignIn"></div>
            </div>
        </div>
    </div>
</div>
<!--end of signup form popup-->

<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <a href="index_light.html"><img class="logo" src="ui/images/20220407_232252.png" alt="" width="119" height="58"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown">
							Home <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="index_light.html">Home 01</a></li>
								<li><a href="homev2_light.html">Home 02</a></li>
								<li><a href="homev3_light.html">Home 03</a></li>
							</ul>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							movies<i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" >Movie grid<i class="ion-ios-arrow-forward"></i></a>
									<ul class="dropdown-menu level2">
										<li><a href="moviegrid_light.html">Movie grid</a></li>
										<li><a href="moviegridfw_light.html">movie grid full width</a></li>
									</ul>
								</li>			
								<li><a href="movielist_light.html">Movie list</a></li>
								<li><a href="moviesingle_light.html">Movie single</a></li>
								<li class="it-last"><a href="seriessingle_light.html">Series single</a></li>
							</ul>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							celebrities <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="celebritygrid01_light.html">celebrity grid 01</a></li>
								<li><a href="celebritygrid02_light.html">celebrity grid 02 </a></li>
								<li><a href="celebritylist_light.html">celebrity list</a></li>
								<li class="it-last"><a href="celebritysingle_light.html">celebrity single</a></li>
							</ul>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							news <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="bloglist_light.html">blog List</a></li>
								<li><a href="bloggrid_light.html">blog Grid</a></li>
								<li class="it-last"><a href="blogdetail_light.html">blog Detail</a></li>
							</ul>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							community <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="userfavoritegrid_light.html">user favorite grid</a></li>
								<li><a href="userfavoritelist_light.html">user favorite list</a></li>
								<li><a href="userprofile_light.html">user profile</a></li>
								<li class="it-last"><a href="userrate_light.html">user rate</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav flex-child-menu menu-right">
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							pages <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="landing.html">Landing</a></li>
								<li><a href="404.html">404 Page</a></li>
								<li class="it-last"><a href="comingsoon.html">Coming soon</a></li>
							</ul>
						</li>                
						<li><a href="#">Help</a></li>
						<li class="loginLink"><a href="#">LOG In</a></li>
						<li class="btn signupLink"><a href="#">sign up</a></li>
					</ul>
				</div>
			<!-- /.navbar-collapse -->
	    </nav>
    </div>
</header>
<!-- END | Header -->


<div class="landing-hero">
	<!--<img src="images/logo1.png" alt="Logo">-->
	<div class="row landing-hero-text">
		<h2>DISCOVER</h2>
		<h2 class="text-yellow">  CONTENT LIKE</h2>
		<h2>A PRO</h2>
	</div>
	<a href="#" class="redbtn" id="discover-now">DISCOVER NOW</a>
</div>
<div class="landing-version">
	<div class="container">
		<div class="col-md-6">
			<img src="ui/images/uploads/landing-dark-version.png" alt="Dark Version">
			<h2>DARK VERSION</h2>
			<a href="index-2.html" target="blank_" class="redbtn">SEE DEMO</a>
		</div>
		<div class="col-md-6">
			<img src="ui/images/uploads/landing-light-version.png" alt="Light Version">
			<h2>LIGHT VERSION</h2>
			<a href="index_light.html" target="blank_" class="redbtn">SEE DEMO</a>
		</div>
	</div>
</div>
<!-- footer v3 section-->
<div class="ft-copyright-landing">
	<p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
</div>
<!-- end of footer v3 section-->

<!--===============================================================================================-->


<script>
	const form = document.getElementById('register-form');
	form.addEventListener('submit', register);

	async function register(event) {
		event.preventDefault();
		const username = document.getElementById('username-2').value
		const email = document.getElementById('email-2').value
		const password = document.getElementById('password-2').value

		console.log("Hello");

		const result = await fetch('/register', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
			},
			body: JSON.stringify({
				username,
				email,
				password
			})
		}).then((res) => res.json())
		.then((data) => {
			if(data.isRegistered === true){
				window.alert("You're signed up successfully!!")
			}

		}).catch(e =>{
			// Change This Error after
			console.log("Error:",e);
		});
	}

	const form2 = document.getElementById('login-form');
	form2.addEventListener('submit', login);

	async function login(event) {
		event.preventDefault();
		
		const email = document.getElementById('email-1').value;
		const password = document.getElementById('password-1').value;

		console.log("Hello");

		const result = await fetch('/login', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
			},
			body: JSON.stringify({
				email,
				password
			})
		}).then((res) => res.json())
		.then((data) => {
			if(data.isLogin === true){
				window.localStorage.setItem("ref-jwt-cookie",data.refreshToken);
				window.location.reload();
			}

		}).catch(e =>{
			// Change This Error after
			console.log("Error:",e);
		});
	}


</script>


<!--===============================================================================================-->
<script>
	function signOut() {
		var auth2 = gapi.auth2.getAuthInstance();
		auth2.signOut().then(function () {
		console.log('User signed out.');
		});
	}
</script>
<!--===============================================================================================-->
<script>
	function onSignIn(googleUser) {
		// var profile = googleUser.getBasicProfile();
		// console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
		// console.log('Name: ' + profile.getName());
		// console.log('Image URL: ' + profile.getImageUrl());
		// console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

		var id_token = googleUser.getAuthResponse().id_token;
		//console.log(id_token);

		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/googlelogin');
		xhr.setRequestHeader('Content-Type', 'application/json');
		xhr.onload = function() {
			console.log('Signed in as: ' + xhr.responseText);
			if(xhr.responseText == 'success'){
				signOut();
				location.assign('/');
			}
		};
		xhr.send(JSON.stringify({token : id_token}));
	}
</script>
<!--===============================================================================================-->
<script src="ui/js/jquery.js"></script>
<script src="ui/js/plugins.js"></script>
<script src="ui/js/plugins2.js"></script>
<script src="ui/js/custom.js"></script>
</body>

<!-- landing14:38-->
</html>